<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Сериал Друзья</title>
</head>
<body style="background: black;">
    <div style="text-align: center">
    <h1 style="color: #FF8000; font-family: Neucha, sans-serif; font-size:50px; padding: 20px">Сериал Друзья</h1>
    <p style="color: #FFFFFF; font-size:20px; font-style: italic">Эту компанию шестерых молодых людей знает теперь уже не только каждый американский подросток, но и наш с вами соотечественник, неравнодушный к подобным проектам. А тут есть, на что посмотреть, ведь речь в этом комедийном сериале пойдет о компании молодых американцев, которые обитают на съемной квартире в видном районе Нью-Йорка и отличаются тем, что вовсе не похожи друг на друга. Здесь идет переплетение разности характеров, вспыхивают ссоры, сложные любовные отношения бьют ключом во всех направлениях, заставляя зрителей сопереживать героям на экране.

Для нас обязательно откроются рано или поздно такие животрепещущие вопросы как: сможет ли Моника удержать в своих коготочках очередного приглянувшегося ей паренька? Есть ли шансы у ботаника Росса умело подкатить к неприступной Рейчел?

В свое время сериал собрал больше трех десятков наград «Эмми», включая несколько из категории «Лучший комедийный сериал», ну и «Золотой глобус», конечно же, ребята по праву заслужили.</p>

    <p><a style="color: #FF0000;font-size:25px" href="/season1/">Сериал Друзья/Friends 1 сезон</a></p>
    <p><a style="color: #FFFF00;font-size:25px" href="/season2/">Сериал Друзья/Friends 2 сезон</a></p>
    <p><a style="color: #0000FF;font-size:25px" href="/season3/">Сериал Друзья/Friends 3 сезон</a></p>
    <p><a style="color: #A52A2A;font-size:25px" href="/season4/">Сериал Друзья/Friends 4 сезон</a></p>
    <p><a style="color: #000080;font-size:25px" href="/season5/">Сериал Друзья/Friends 5 сезон</a></p>
    </div>
</body>
</html>