<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Сериал Друзья/Friends 1 сезон</title>
</head>
<body style="background: black;">
    <div style="text-align: center">
    <h1 style="color: #FFA000; font-family: Neucha, sans-serif; font-size:50px; text-align: center; padding: 20px">Сериал Друзья/Friends 1 сезон</h1>
    <p style="color: #FFFFFF; font-size:20px; font-style: italic">Сериал "Друзья" повествует нам о жизнерадостной и полной обаяния американской молодежи. Легкомысленная девушка Рейчел; красавица и модница Моника, у которой не складываются отношения с молодыми людьми; озорной весельчак Чандлер, добрая и сострадательная Фиби; мечта девушек Джоуи, который в своих мечтах возомнил себя знаменитостью; обладающий высоким IQ Росс… Жизнь ребят полна ярких впечатлений: любовь и страсти наполняют их каждый день. Поиски работы, влюбленность, размолвки, недостаток денег, связывание себя узами брака - вот что происходит у простых американских ребят.

Интересные приключения продолжаются из серии в серию, а некоторых из "великолепной шестерки" ожидают кардинальные перемены на любовном фронте. Повезет ли Россу, давно влюбленного в Рейчел? Будет ли у Моники прочным очередной союз?

Молодежь, снимающая жилье в "Вест Вилледж, одном из районов Нью-Йорка, который славится своими свободными взглядами на жизнь, завоевала всеобщее признание и любовь зрителей Америки, а также далеко за ее пределами. Их шутки становятся актуальными среди молодежи. Стрижки, стиль одежды, фразы - поклонники во всем подражают своим любимым героям. Сериал "Друзья" заслуженно получил 33 номинации на премии "Эмми", из которых 4 номинации были присуждены за "Лучший комедийный сериал на телевидении", а тремя был награжден на "Золотом глобусе".</p>
    <p><a style="color: #FF0000;font-size:25px" href="http://seasonvar.ru/serial-394-Druz_ya-01-sezon.html">Сериал Друзья/Friends 1 сезон онлайн</a></p>
    <p><a style="color: #FFFF00;font-size:25px" href="/season2/">Сериал Друзья/Friends 2 сезон</a></p>
    </div>
</body>
</html>