<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Сериал Друзья/Friends 2 сезон</title>
</head>
<body style="background: black;">
    <div style="text-align: center">
    <h1 style="color: #FFA000; font-family: Neucha, sans-serif; font-size:50px; padding: 20px">Сериал Друзья/Friends 2 сезон</h1>

    <p style="color: #FFFFFF; font-size:20px; font-style: italic">Культовый американский сериал описывает жизнь закадычных друзей, которые знакомы много лет. Их дружба уже проверена всевозможными способами. Они встречаются, общаются, обсуждают всё: от радостей до невзгод, строят планы на будущее.
Любимое место друзей – Центральная кофейня, где у них есть собственный столик, который никто даже и не занимает, и все свободное время они проводят там, в компании друг друга, общаясь и веселясь. Герои совершенно разные: Моника, у которой за плечами куча неудавшихся романов, она не может встретить мужчину своей мечты, ветреная Рэйчел и влюблённый в нее Росс, брат Моники. Чендлер, весельчак и балагур, никогда не унывающий из-за пустяков, Джоуи – актер-неудачник, не теряющий надежды прославиться. И Фиби, доверчивая и наивная, сочиняющая песни, и считающая себя очень талантливой. Всегда имеет в запасе пару историй, от которых у друзей волосы встают дыбом.
Все ребята ждут перемен, чего –то лучшего, от чего их жизнь кардинально изменится. И зрители с замиранием сердца следят за сюжетом. Наладится ли личная жизнь героев, встретят ли они свою судьбу, закрутится ли роман между кем-то из друзей? Авторы сериала держат интригу, а зрители с нетерпением ждут каждой серии.
        Сериал после выхода побил всевозможные рейтинги. Его популярность в Америке и во всем мире просто зашкаливала. Сериал моментально разобрали на цитаты, а некоторые самые ярые поклонники вообще стали подражать внешнему виду и образу жизни героев.</p>

    <p><a style="color: #FFFF00;font-size:25px" href="http://seasonvar.ru/serial-412-Druz_ya-2-sezon.html">Сериал Друзья/Friends 2 сезон онлайн</a></p>
    <p><a style="color: #0000FF;font-size:25px" href="/season3/">Сериал Друзья/Friends 3 сезон</a></p>
    </div>
</body>
</html>